.profile__avatar-btn {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  border: 0;
  background-color: rgba(0,0,0,0);
  background-image: url("../../../images/pen.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.profile__avatar-btn:hover {
  opacity: 1;
  background-color: rgba(0,0,0,.5);
}
