.element__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-left: 22px;
  padding-right: 22px;
}

@media screen and (max-width: 648px) {
  .element__caption {
    padding-top: 20px;
  }
}
